@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section[id] {
  scroll-snap-align: proximity;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .page {
    background-color: #002345;
  }
}

.accent-serif {
  font-family: var(--font-caveat);
}

.display {
  font-family: var(--font-space-grotesk);
}

body {
  background-color: #002345;
}

.page {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
      width: 6px;
    }
  &::-webkit-scrollbar-track {
      background: transparent;
    }
  &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 3px;
    }
}
