@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .page {
    @apply w-full h-screen overflow-hidden;
  }
}
