@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .page {
    background-color: #002345;
  }
}

.kaushan {
  font-family: var(--font-kaushan);
}

.page {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  &::-webkit-scrollbar {
    display: none;
  }
  & > section {
    /* scroll-snap-align: start; */

  }
}