.nav {
    background: rgb(136, 136, 136);
    background: linear-gradient(180deg, rgba(136, 136, 136, .2) 0%, rgba(0, 35, 69, .5) 100%);
    border-radius: 10px 0 0 10px;
    box-shadow: -4px 7px 5px 3px rgba(0, 0, 0, 0.2);
    & :global(.item) {
        &:last-child {
            border-radius: 0 0 0 10px;
        }

        &:first-child {
            border-radius: 10px 0 0 0;
        }
    }
}
