.banner {
    background-image: url('/banner.jpg');
    max-height: 1030px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title {
 
}


.subTitle {
    
}

.subTitleBold {
    color: #FFF170;
}